<!-- template: home page -->
<!DOCTYPE html>
<html th:replace="~{fragments/layout.html :: pageLayout(content=~{::home_main}, homeLink='active')}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org">

<main class="my-5 mx-3 flex-fill" th:fragment="home_main">
<!-- simple welcome info-->
    <h3 class="text-center mb-4">Nutritional database</h3>

    <p class="text-center">This application gives you access to database of foods with their nutritional values.</p>

    <p class="text-center">The application allows you to edit, search and sort the foods in the database.</p>
</main>
</html>
