<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>

<form th:fragment="searchForm"
      th:action="@{/foods/search}">
    <div class="input-group">
        <input class="form-control" type="search" name="foodName" placeholder="Vyhledat potravinu..."/>
        <button class="btn btn-dark" type="submit">Hledat</button>
    </div>
</form>

<div th:fragment="foodForm (formAction, formMethod, buttonName)" class="row justify-content-center">
    <form class="col-auto container"
          th:method="${formMethod}"
          th:action="@{${formAction}}"
          th:object="${foodDTO}">
        <div class="row align-items-center">
            <label for="name" class="col form-label">Název potraviny:</label>
            <div class="col">
                <input th:field="*{name}" id="name" type="text" class="form-control" autocomplete="on"/>
                <small th:errors="*{name}" class="text-danger"></small>
            </div>
        </div>

        <hr> <!-- hlavička "tabulky" -->
        <div class="row">
            <div class="col fw-bold">Výživový údaj</div>
            <div class="col fw-bold">na 100 g</div>
        </div>
        <hr>

        <div class="mb-2">
            <div class="row align-items-center">
                <label for="energy" class="col form-label">Energetická hodnota:</label>
                <div class="col">
                    <div class="input-group">
                        <input th:field="*{kcal}" type="number" step="1" min="0" id="energy" class="form-control"/>
                        <span class="input-group-text">kcal</span>
                    </div>
                    <small th:errors="*{kcal}" class="text-danger"></small>
                </div>
            </div>
        </div>

        <div class="mb-2">
            <div class="row align-items-center">
                <label for="protein" class="col form-label">Bílkoviny</label>
                <div class="col">
                    <div class="input-group">
                        <input th:field="*{protein}" type="number" step="0.1" min="0" id="protein" class="form-control"/>
                        <span class="input-group-text">g</span>
                    </div>

                    <small th:errors="*{protein}" class="text-danger"></small>
                </div>
            </div>

        </div>

        <div class="mb-2">
            <div class="row align-items-center">
                <label for="carbs" class="col form-label">Sacharidy</label>
                <div class="col">
                    <div class="input-group">
                        <input th:field="*{carbs}" type="number" step="0.1" min="0" id="carbs" class="form-control"/>
                        <span class="input-group-text">g</span>
                    </div>

                    <small th:errors="*{carbs}" class="text-danger"></small>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <div class="row align-items-center">
                <label for="fats" class="col form-label">Tuky</label>
                <div class="col">
                    <div class="input-group">
                        <input th:field="*{fats}" type="number" step="0.1" min="0" id="fats" class="form-control"/>
                        <span class="input-group-text">g</span>
                    </div>

                    <small th:errors="*{fats}" class="text-danger"></small>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-dark" type="submit" th:text="${buttonName}"></button>
        </div>

        <hr>
    </form>
</div>

</body>
</html>