<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="description" content="Nutricni databaze - cvicební projekt." />
    <meta name="keywords" content="cvičení projekt nutricni databaze spring boot mysql auathentikace autorizace" />
    <meta name="author" content="Marek Jiricek" />

    <title>Nutriční databáze</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" />
    <link rel="shortcut icon" th:href="@{/images/apple.ico}" />
</head>

<body>
<header th:fragment="header">

</header>


<footer th:fragment="footer">
    <hr>
    <p class="mx-5">&#127279; 2024 - Marek Jiříček</p>
</footer>
</body>
</html>