<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="description" content="Nutricni databaze - cvicební projekt."/>
    <meta name="keywords" content="cvičení projekt nutricni databaze spring boot mysql auatentifikace autorizace"/>
    <meta name="author" content="Marek Jiricek"/>

    <title>Nutriční databáze</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="shortcut icon" th:href="@{/images/apple.svg}"/>
</head>

<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a th:href="@{/}" class="navbar-brand">NutrDB App</a>
            <div class="navbar-nav">
                <a th:href="@{/}" th:class="'nav-link ' + ${homeLink}">Domů</a>
                <a th:href="@{/foods}" th:class="'nav-link ' + ${foodsLink}">Potraviny</a>
                <a th:href="@{/account/login}" th:class="'nav-link ' + ${loginLink}">Přihlásit</a>
                <a th:href="@{/account/register}" th:class="'nav-link ' + ${registerLink}">Zaregistrovat</a>
                <form method="post"
                      th:action="@{/account/logout}">
                    <button class="nav-link">Odhlásit</button>
                </form>
            </div>
        </div>

    </nav>
</header>



<footer th:fragment="footer">
    <hr>
    <p class="mx-5" xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><span
            property="dct:title">NutrDB App</span> by <span property="cc:attributionName">Marek Jiříček</span> is marked
        with <a href="http://creativecommons.org/publicdomain/zero/1.0?ref=chooser-v1" target="_blank"
                rel="license noopener noreferrer" style="display:inline-block;">CC0 1.0<img
                style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img
                style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1"></a></p>
</footer>
</body>
</html>