<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>

<div th:fragment="foodList" class="my-3 row justify-content-center">
    <h5 class="text-center text-secondary" th:if="${foods.isEmpty()}">Nebyly nalezeny žádné potraviny.</h5>

    <div class="col-auto container" th:if="${!foods.isEmpty()}">
        <table class="table table-bordered">
            <!-- there will be id column, so that we can also sort by the order the items are added in db -->
            <thead>
            <tr>
                <th><a th:href="@{
                '/foods?page=' + ${currentPageNumber} +
                '&search=' + ${searchedName} +
                '&sort=foodId'}"
                       scope="col"># id</a></th>
                <th><a th:href="@{
                '/foods?page=' + ${currentPageNumber} +
                '&search=' + ${searchedName} +
                '&sort=name'}"
                       scope="col">Název potraviny</a></th>
                <th><a th:href="@{
                '/foods?page=' + ${currentPageNumber} +
                '&search=' + ${searchedName} +
                '&sort=kcal'}"
                       scope="col">Energie na 100 g</a></th>
                <th><a th:href="@{
                '/foods?page=' + ${currentPageNumber} +
                '&search=' + ${searchedName} +
                '&sort=protein'}"
                       scope="col">Bílkovin na 100 g</a></th>
                <th></th><a scope="col"></a>
            </tr>
            </thead>
            <tbody>
            <tr th:each="food : ${foods}">
                <td th:text="${food.foodId}"></td>
                <td th:text="${food.name}"></td>
                <td th:text="${food.kcal} + ' kcal'"></td>
                <td th:text="${food.protein} + ' g'"></td>
                <td>
                    <a th:href="@{'/foods/detail/' + ${food.foodId}}">Detail</a>
                    <span> | <a th:href="@{'/foods/edit/' + ${food.foodId}}">Upravit</a></span>
                    <span> |
                        <form th:method="DELETE"
                              th:action="@{'/foods/delete/' + ${food.foodId}}"
                              class="d-inline">
                            <button type="submit" class="btn btn-danger py-0 px-1">Smazat</button>
                        </form>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- TODO fix the links such that they preserve the sort selection -->
        <ul class="pagination justify-content-center">
            <!-- first page -->
            <li th:if="${currentPageNumber} gt 1" class="page-item">
                <a class="page-link" th:href="@{
                '/foods?page=1' +
                '&search=' + ${searchedName} +
                '&sort=' + ${sortAttribute}}">1</a>
            </li>
            <!-- inbetween -->
            <li th:if="${currentPageNumber} gt 3" class="page-item disabled">
                <a class="page-link">...</a>
            </li>
            <!-- previous page -->
            <li th:if="${currentPageNumber gt 2}" class="page-item">
                <a th:href="@{
                '/foods?page=' + ${currentPageNumber - 1} +
                '&search=' + ${searchedName} +
                '&sort=' + ${sortAttribute}}"
                   th:text="${currentPageNumber - 1}" class="page-link"></a>
            </li>
            <!-- current page -->
            <li class="page-item active"><a th:text="${currentPageNumber}" class="page-link" href></a></li>
            <!-- next page -->
            <li th:if="${currentPageNumber + 1} lt ${totalPages}" class="page-item">
                <a th:href="@{
                '/foods?page=' + ${currentPageNumber + 1} +
                '&search=' + ${searchedName} +
                '&sort=' + ${sortAttribute}}"
                   th:text="${currentPageNumber + 1}" class="page-link"></a>
            </li>
            <!-- inbetween -->
            <li th:if="${currentPageNumber + 2} lt ${totalPages}" class="page-item disabled">
                <a class="page-link">...</a>
            </li>
            <!-- last page -->
            <li th:if="${currentPageNumber} lt ${totalPages}" class="page-item">
                <a th:href="@{'/foods?page=' + ${totalPages} +
                '&search=' + ${searchedName} +
                '&sort=' + ${sortAttribute}}"
                   th:text="${totalPages}" class="page-link"></a>
            </li>
        </ul>
    </div>


</div>


</body>
</html>