<!-- template: error 403 page -->
<!-- user sees this page after attempting unauthorized action -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body class="min-vh-100 d-flex flex-column">
<!--navbar-->
<header th:replace="~{fragments/layout.html :: header}"></header>

<main class="my-5 mx-3 flex-fill">
    <!-- informs the user that he attempted to perform an unauthorized action-->
    <h2 class="text-center mb-4">Error <span th:text="${status}"></span></h2>

    <p class="text-center">You are not authorized to access this address or to perform this action.</p>

    <p class="text-center"> <!-- link to home page -->
        <a th:href="@{/}">Return to home page</a>
    </p>

</main>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>