<!-- template : 404 page -->
<!-- user sees this page after trying to acces a page which doesn't exit -->
<!DOCTYPE html>
<html th:replace="~{fragments/layout.html :: pageLayout(content=~{::main})}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org">

<main class="my-5 mx-3 flex-fill">
    <!-- informing the user that he attempted to access nonexistent page -->
    <h2 class="text-center mb-4">Error <span th:text="${status}"></span></h2>

    <p class="text-center">Page not found. You are trying to access invalid path.</p>

    <p class="text-center"> <!-- link to home page -->
        <a th:href="@{/}">Return to home page</a>
    </p>

</main>

</html>
