<!-- template: default error page - displayed when "undefined" error occurs -->
<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body class="min-vh-100 d-flex flex-column">
<!--navbar-->
<header th:replace="~{fragments/layout.html :: header}"></header>

<main class="my-5 mx-3 flex-fill">
    <!-- telling the user that an error occured -->
    <h2 class="text-center mb-4">Error <span th:text="${status}"></span></h2>

    <p class="text-center">Something unexpected by the developers of the appliccation happened.</p>

    <p class="text-center">
        <a th:href="@{/}">Return to home page</a> <!-- link to home page -->
    </p>

    <hr/>

    <h5>Error description (Only for debug. Shouldn't show up in production.):</h5>
    <!-- info about the error that occured -->
    <!-- this shouldn't be in a production version of application, but this is just a demo so why not-->
    <p th:text="${status} + ' ' + ${error}"></p>
    <p th:text="${message}"></p>
    <p>Timestamp: <span th:text="${timestamp}"></span></p>
    <p>Path: <span th:text="${path}"></span></p>
    <pre th:text="${trace}"></pre>

</main>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>
