<!-- template: page for creating a new food entry -->
<!DOCTYPE html>
<html th:replace="~{fragments/layout.html :: pageLayout(content=~{::main}, foodsLink='active')}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org">

<main class="my-5 mx-3 flex-fill">
    <h3 class="text-center mb-4">Create food:</h3>
    <!-- form for a new food entry creation -->
    <div th:replace="~{fragments/forms.html :: foodForm (formAction='/foods/create', formMethod='POST', buttonName='Create')}"></div>

    <p class="text-center">
        <a th:href="@{/foods}">Back</a> <!-- link back to food index -->
    </p>
</main>

</html>
