<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body class="min-vh-100 d-flex flex-column">
<header th:replace="~{fragments/layout.html :: header (foodsLink='active')}"></header>

<main class="my-5 mx-3 flex-fill">
    <h3 class="text-center">Detail potraviny</h3>

    <div class="row justify-content-center">
        <div class="col-auto container my-3 text-nowrap">
            <div class="row">
                <h5 class="col" th:text="${foodDTO.name}"></h5>
                <!-- visible only to admin accounts -->
                <a sec:authorize="hasRole('ADMIN')" class="col text-end" th:href="@{'/foods/edit/' + ${foodDTO.foodId}}">Upravit</a>
            </div>
            <hr>
            <div class="row">
                <div class="col fw-bold">Výživový údaj</div>
                <div class="col fw-bold text-end">na 100 g</div>
            </div>
            <hr>
            <div class="row">
                <div class="col">Energetická hodnota</div>
                <div class="col text-end" th:text="${foodDTO.kcal} + ' kcal'"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col">Bílkoviny</div>
                <div class="col text-end" th:text="${foodDTO.protein} + ' g'"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col">Sacharidy</div>
                <div class="col text-end" th:text="${foodDTO.carbs} + ' g'"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col">Tuky</div>
                <div class="col text-end" th:text="${foodDTO.fats} + ' g'"></div>
            </div>
            <hr>
        </div>
    </div>

    <p class="text-center">
        <a th:href="@{/foods}">Zpět</a>
    </p>
</main>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>
