<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body class="min-vh-100 d-flex flex-column">
<header th:replace="~{fragments/layout.html :: header (foodsLink='active')}"></header>

<main class="my-5 mx-3 flex-fill">
    <h3 class="text-center">Detail potraviny</h3>



    <div class="container my-3">
        <div class="row align-items-center">
            <h5 class="col" th:text="'Ovesné vločky'"></h5>
            <a class="col" th:href="@{/foods/edit/1}">Upravit</a>
        </div>
        <hr>
        <div class="row">
            <div class="col fw-bold">Výživový údaj</div>
            <div class="col fw-bold">na 100 g</div>
        </div>
        <hr>
        <div class="row">
            <div class="col">Energetická hodnota</div>
            <div class="col" th:text="'343' + ' kcal'"></div>
        </div>
        <div class="row">
            <div class="col">Bílkoviny</div>
            <div class="col" th:text="'10.8' + ' g'"></div>
        </div>
        <div class="row">
            <div class="col">Sacharidy</div>
            <div class="col" th:text="'71.2' + ' g'"></div>
        </div>
        <div class="row">
            <div class="col">Tuky</div>
            <div class="col" th:text="'3.5' + ' g'"></div>
        </div>
        <hr>
    </div>


    <p class="text-center">
        <a th:href="@{/foods}">Zpět</a>
    </p>
</main>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>
