<!-- template: page for editing of a selected food entry -->
<!DOCTYPE html>
<html th:replace="~{fragments/layout.html :: pageLayout(content=~{::main}, foodsLink='active')}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org">

<main class="my-5 mx-3 flex-fill">
    <h3 class="text-center mb-4">Edit the food</h3>
<!--    form for editing of the selected food entry-->
    <div th:replace="~{fragments/forms.html :: foodForm (formAction='/foods/edit/' + ${foodId}, formMethod='PUT', buttonName='Edit')}"></div>

    <p class="text-center">
        <a th:href="@{/foods}">Back</a> <!-- link for returning to foods index -->
    </p>
</main>

</html>
