<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body class="min-vh-100 d-flex flex-column">
<header th:replace="~{fragments/layout.html :: header (foodsLink='active')}"></header>

<main class="my-5 mx-3 flex-fill">
    <!-- potravina vytvorena / potravina upravena -->
    <div class="py-2 alert alert-success" th:text="${success}" th:if="${success}"></div>


    <div class="row row-cols-auto align-items-center">
        <a class="col me-5" th:href="@{/foods/create}">Vytvořit novou potravinu</a>

        <div class="col">
            <form th:replace="~{fragments/forms.html :: searchForm}"></form>
        </div>
    </div>

    <hr>
    <h3>Všechny potraviny</h3>

    <div th:replace="~{fragments/lists.html :: foodList}"></div>

    <ul th:replace="~{fragments/lists.html :: pagination}"></ul>

</main>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>
