<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body class="min-vh-100 d-flex flex-column">
<header th:replace="~{fragments/layout.html :: header (foodsLink='active')}"></header>

<main class="my-5 mx-3 flex-fill container">

    <div class="row row-cols-auto align-items-center">
        <a class="col me-5" th:href="@{/foods/create}">Vytvořit novou potravinu</a>

        <div class="col">
        <form method="get"
              th:action="@{/foods/search}">
            <div class="input-group">
                <input class="form-control" type="search" name="foodName" placeholder="Vyhledat potravinu..."/>
                <button class="btn btn-dark" type="submit">Hledat</button>
            </div>
        </form>
        </div>
    </div>

    <h3>Seznam všech potravin</h3>

    <a th:href="@{/foods/detail/1}">Detail</a> |
    <a th:href="@{/foods/edit/1}">Upravit</a> |
    <a th:href="@{/foods/delete/1}">Smazat</a>

    <h5>Pagination</h5>

</main>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>
