<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body class="min-vh-100 d-flex flex-column">
<header th:replace="~{fragments/layout.html :: header (foodsLink='active')}"></header>

<main class="my-5 mx-3 flex-fill container">

    <div class="row">
        <div class="col-auto">
            <h3>Nalezené potraviny</h3>
        </div>
        <div class="col-auto">
            <form th:replace="~{fragments/layout.html :: searchForm}"></form>
        </div>
    </div>

    <div th:replace="~{fragments/layout.html :: foodList}"></div>

    <ul th:replace="~{fragments/layout.html :: pagination}"></ul>

    <p class="text-center">
        <a th:href="@{/foods}">Zpět</a>
    </p>
</main>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>
