<!-- template: page for registering new account -->
<!DOCTYPE html>
<html th:replace="~{fragments/layout.html :: pageLayout(content=~{::main}, registerLink='active')}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org">

<main class="my-5 mx-3 flex-fill row justify-content-center">

    <div class="col-auto">
        <h3>Registration</h3>

        <!-- error message in case the password and confirmation don't match -->
        <div class="py-2 flash-message message-error" th:text="${error}" th:if="${error}"></div>

        <hr/>
<!--        new account registration form - working with userDTO object -->
<!--Since the form fields are validated in the model, each field shows possible feedback if the validation fails-->
        <form th:action="@{/account/register}"
              method="post"
              th:object="${userDTO}">
            <div class="mb-2"> <!-- user email -->
                <label for="email" class="form-label">Your email address:</label>
                <input id="email" name="email" type="email" class="form-control"
                       placeholder="john.doe@example.com"
                       th:field="*{email}" required/>
                <small class="text-danger" th:errors="*{email}"></small> <!-- jakarta validation error message -->
            </div>
            <div class="mb-2"> <!-- user password -->
                <label for="password" class="form-label">Password</label>
                <input id="password" name="password" type="password" class="form-control"
                       th:field="*{password}" required/>
                <small class="text-danger" th:errors="*{password}"></small> <!-- jakarta validation error message -->
            </div>
            <div class="mb-4"> <!-- password confirmation -->
                <label for="passwordConfirmation" class="form-label">Password confirmation</label>
                <input id="passwordConfirmation" name="passwordConfirmation" type="password" class="form-control"
                       th:field="*{passwordConfirmation}" required/>
                <small class="text-danger" th:errors="*{passwordConfirmation}"></small> <!-- jakarta validation error message -->
            </div>

            <div class="text-center"> <!-- registration confirmation button -->
                <button type="submit" class="btn btn-dark">Register</button>
            </div>
        </form>
    </div>

</main>

</html>
